{% extends 'main.html' %}

{% block title %}
Carr & Day & Martin
{% endblock %}

{% block body%}
<main>
    <section class="top-banner">
        <div class="container-fill">
            <div class="banner">
                <div class="gradient">
                    <div class="row h-100">
                        <div class="col-xl-8 col-lg-10 col-md-12">
                            <div class="row h-100 align-items-center">
                                <div class="col-12">
                                    <p>Мировые Лидеры</p>
                                    <p>В Области Ухода За Лошадьми</p>
                                    <button class="btn"><a href="/products/leather">НАШ АССОРТИМЕНТ</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="care">
        <div class="container-small">
            <div class="row">
                <h2>Мировые Лидеры В Области Ухода За Лошадьми</h2>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="box first">
                        <div class="bg">
                            <a href="/products/leather">
                                <img src="../static/img/leather.png">
                            </a>
                        </div>
                    </div>
                    <div class="box second">
                        <div class="bg">
                            <a href="/products/health">
                                <img src="../static/img/health.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="box third">
                        <div class="bg">
                            <a href="/products/coat">
                                <img src="../static/img/coat.png">
                            </a>
                        </div>
                    </div>
                    <div class="box fouth">
                        <div class="bg">
                            <a href="/products/hoof">
                                <img src="../static/img/hoof.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wrapper">
        <div class="container-big">
            <h2>Мы Рекомендуем</h2>
            <div class="slider">
                {% for el in Productitem %}
                <div class="slider-item">
                    <a href="/products/{{el.Type}}/{{el.id}}">
                        <img src="{{ url_for('static', filename='../static/img/')}}{{el.id}}.png" alt="slider-item">
                        <p class="product name">{{ el.name }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

{% endblock %}