{% extends 'main.html' %}

{% block title %}

{% endblock %}
{{ productitem.name }}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/product-card.css') }}">
{% endblock %}

{% block body %}
<main>
    <div class="product-item">
        <div class="container-big pt-100">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <a href="/products/{{ productitem.Type }}" class="back">Назад</a>
                    <div class="image-block">
                        <img src="{{ url_for('static', filename='../static/img/')}}{{productitem.id}}.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <h1>{{ productitem.name }}</h1>
                    <h3>{{ productitem.name }}</h3>
                    <p>{{ productitem.smallDecription }}</p>
                    <h3>Описание</h3>
                    <p>{{ productitem.decription }}</p>
                    <h3>Как использовать</h3>
                    <p>{{ productitem.application }}</p>
                    <h3>Размер: {{ productitem.size }}</h3>
                    <p class="next"><a class="button" href="/shops">Где купить</a></p>
                </div>
            </div>
        </div>
    </div>
    <section class="wrapper">
        <div class="container-big">
            <h2>Мы Рекомендуем</h2>
            <div class="slider">
                {% for el in Productitem %}
                {% if el.id != productitem.id %}
                <div class="slider-item">
                    <a href="/products/{{el.Type}}/{{el.id}}">
                        <img src="{{ url_for('static', filename='../static/img/')}}{{el.id}}.png" alt="slider-item">
                        <p class="product name">{{ el.name }}</p>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}