{% extends 'main.html' %}

{% block title %}
История
{% endblock %}

{% block link %}
<link rel="stylesheet" href="../static/css/reviews.css">
{% endblock %}

{% block body %}
<section class="reviews">
    <div class="container-big">
        <div class="content block">
            <p></p>
        </div>
        <form action="/reviews" method="post">
            <p>
                <label>
                    <span>
                        <input type="text" name="name" id="name" placeholder="Ваше имя">
                        <br>
                    </span>
                </label>
                <label>
                    <span>
                        <textarea type="text" name="text" id="text" placeholder="Отзыв" cols="20" rows="5"></textarea>
                        <br>
                    </span>
                </label>
            </p>
            <p>
                <label>
                    <span>
                        <input class="button" type="submit" value="send">
                    </span>
                </label>
            </p>
        </form>
    </div>
</section>
{% endblock %}