{% extends 'main.html' %}

{% block title %}
Магазины
{% endblock %}

{% block link %}
<link rel="stylesheet" href="../static/css/shops.css">
{% endblock %}

{% block body %}
<main>
    <div class="shops">
        <div class="container-big">
            <h3 class="article">Наши магазины</h3>
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <iframe class="map"
                        src="https://yandex.ru/map-widget/v1/?um=constructor%3A17954709c99ff23b7c6b29b340a318831f1c3e59fc9122c406987619b2ba0ff8&amp;source=constructor"
                        frameborder="0"></iframe>
                </div>
                <div class="col-lg-4 col-md-12 down">
                    <div class="list">
                        <div class="stores">
                            <ul>
                                <li>
                                    <a href="">
                                        <h5>Санкт-Петербург</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Москва</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Рязань</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Казань</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Орёл</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Воронеж</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Сочи</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Симферополь</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Владикавказ</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Владивосток</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Новосибирск</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Екатеринбург</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Нижний Новгород</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Киров</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Челябинск</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Пермь</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Красноярск</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Уфа</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Ростов</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Омск</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Самара</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Краснодар</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Саратов</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <h5>Ижевск</h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}